# Ignore system files
.DS_Store
.env

# Ignore Python cache files (Backend)
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/venv/
backend/*.sqlite3

# Ignore unnecessary files for the frontend
frontend/node_modules/
frontend/dist/
frontend/build/

# Ignore Git folder
.git/